{% extends '@layouts/base.twig' %}

{% block main %}
    <div class="Container Main">
        <h1 class="text">Контакты</h1>
        {% include '@components/contacts/contacts.twig' %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %} 