{% import _self as macros %}

{% macro content() %}
    <div class="footer">
        Some random footer content
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

{% endmacro %}

{{ macros.content }} 